.App {
  text-align: center;
}

.App-logo {
  font-family: 'Megrim', cursive;
}

.App-header {
  height: 10vh;
  padding: 5vh;
  margin-bottom: 10vh;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #222;
  color: white;
}

p {
  font-family: 'Abel', sans-serif;
}
